@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');


/* font-family: 'Euclid Circular B', sans-serif; */

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Euclid Circular B', sans-serif;
}

/* body{
    max-width: 1400px;
    margin: 0 auto;
} */

/* ---------------------
navbar section
------------------------*/

header {
    width: 100%;
    padding: 15px 0;
    max-width: 1400px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

}

.navbar-list {
    display: flex;
    gap: 3vw;
    list-style-type: none;

}

/* .navbar-item{
    
} */

.navbar-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: end;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.navbar-num {
    font-size: 12px;
    color: rgb(109, 109, 109);
    margin-bottom: -4px;
}


/* ---------------------
navbar section end
------------------------*/


/* ---------------------
Banner section
------------------------*/

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 5%;
    height: 620px;
    width: 100%;
}


.banner-content {
    width: 100%;
    /* border: 1px solid red; */
}

.banner-title {
    font-size: 3.5vw;
    /*TODO: responsive*/
    font-weight: 500;

}

.banner-subtitle {
    color: rgb(160, 160, 160);
    margin: 20px 0;
    margin-bottom: 30px;
}


.btn {
    background-color: #FF5C01;
    border: none;
    padding: 8px 18px;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #ca4903;
}


/* :right part / */

.image-container {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.image-container img {
    /* width: 425px; */
    height: 440px;
}

.banner-image {
    border: #ffffff18 solid 1px;
    width: 70%;
    height: 85%;
    margin-right: -155px;
    z-index: 10;
    position: relative;
}

.banner-image .bulding-image {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}


/* ---------------------
Our Services section
------------------------*/


.services-title {
    margin: 0 auto;
    text-align: center;
}

.services-title h3 {
    font-size: 50px;
    font-weight: 600;

}

.services-title p {
    width: 500px;
    color: #666666;
    margin: 0 auto;
}


/* card  */
.card-container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 60px;
}

.card {
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 35px #f8decfc0;
}

.card p {
    font-size: 18px;
    font-weight: 600;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 25px;
}


.cercle {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
}

.card:hover .cercle{
    scale: 1.5;
    transition: all;
    transition-duration: 300ms;
}

/* ---------------------
Our Services section end
------------------------*/

/* ---------------------
Develop Your Site section
------------------------*/


.developer{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.developer-img-text{
    display: flex;
    gap: 50px;
    align-items: center;
}

/* .developer-img-text img{

} */

.developer-img-text p{
    color: white;
    font-size: 40px;
    width: 350px;
}