@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');


/* font-family: 'Euclid Circular B', sans-serif; */

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Euclid Circular B', sans-serif;
}

/* body{
    max-width: 1400px;
    margin: 0 auto;
} */

/* ---------------------
navbar section
------------------------*/

header {
    width: 100%;
    padding: 15px 0;
    max-width: 1400px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

}

.navbar-list {
    display: flex;
    gap: 3vw;
    list-style-type: none;

}

/* .navbar-item{
    
} */

.navbar-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: end;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.navbar-num {
    font-size: 12px;
    color: rgb(109, 109, 109);
    margin-bottom: -4px;
}


/* ---------------------
navbar section end
------------------------*/


/* ---------------------
Banner section
------------------------*/

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 5%;
    height: 620px;
    width: 100%;
}


.banner-content {
    width: 100%;
    /* border: 1px solid red; */
}

.banner-title {
    /* font-size: 3.5vw; */
    font-size: clamp(10px, 3.5vw, 74px);
    ;
    /*TODO: responsive*/
    font-weight: 500;

}

.banner-subtitle {
    color: rgb(160, 160, 160);
    margin: 20px 0;
    margin-bottom: 30px;
}


.btn {
    background-color: #FF5C01;
    border: none;
    padding: 8px 18px;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #ca4903;
}


/* :right part / */

.image-container {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.image-container img {
    /* width: 425px; */
    height: 440px;
}

.banner-image {
    border: #ffffff18 solid 1px;
    width: 70%;
    height: 85%;
    margin-right: -155px;
    z-index: 10;
    position: relative;
}

.banner-image .bulding-image {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}


/* ---------------------
Our Services section
------------------------*/


.services-title {
    margin: 0 auto;
    text-align: center;
}

.services-title h3 {
    font-size: 50px;
    font-weight: 600;

}

.services-title p {
    width: 500px;
    max-width: 100vw;
    color: #666666;
    margin: 0 auto;
}


/* card  */
.card-container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 60px;
}

.card {
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 35px #f8decfc0;
}

.card p {
    font-size: 18px;
    font-weight: 600;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 25px;
}


.cercle {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
}

.card:hover .cercle {
    scale: 1.5;
    transition: all;
    transition-duration: 300ms;
}

/* ---------------------
Our Services section end
------------------------*/

/* ---------------------
Develop Your Site section
------------------------*/


.developer {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.developer-img-text {
    display: flex;
    gap: 50px;
    align-items: center;
}

/* .developer-img-text img{
width: 100%;
} */

.developer-img-text p {
    color: white;
    font-size: clamp(10px, 3.5vw, 40px);
    width: 350px;
}



/*------------------------- 
construction company 
---------------------------*/

.construction-container {
    display: flex;
    width: 90%;
    margin: 150px auto;
    max-width: 1400px;
}

.construction-text-area {
    width: 60%;
}

.construction-text-area h3 pre{
    font-size: 50px;
    font-weight: 500;
}

.construction-text-area hr {
    border: 1px solid rgba(0, 0, 0, 0.054);
}

.construction-text-area p {
    font-size: 18px;
    margin: 22px 0;
    color: #171818;
}

.construction-text-area p:nth-of-type(2) {
    font-weight: 500;
}

.construction-text-area p span {
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding: 8px 8px;
    border-radius: 50%;
    background-color: white;
}

.construction-image {
    margin-left: auto;
    position: relative;
    overflow: hidden;
    width: 40%;
}

.construction-image::after {
    content: ' ';
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    left: 0px;
}

.construction-image::before {
    content: ' ';
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0px;
    right: 0;
}



/* Our working Projects 
--------------------------------*/

.projects-top-container {
    color: white;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.projects-top-container h3 {
    font-size: 50px;
    font-weight: 500;
}

.projects-top-container p {
    font-size: 100px;
    color: #ca4903;
    font-weight: 700;
}

.projects-top-container p span {
    font-size: 13px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #b4b4b4;
    margin-right: -10px;
}


/* project card section / */

.project-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 40px 0;
}

.project-card {
    position: relative;
}

.project-card img {
    width: 100%;
}

.project-card::before {
    content: '';
    width: 60px;
    height: 60px;
    background-color: #ca4903;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.project-card:nth-of-type(odd):before {
    bottom: 4px;
}

.project-card:nth-of-type(1)::before {
    left: 0;
}


.project-card-content {
    backdrop-filter: blur(10px);
    position: absolute;
    padding: 23px 25px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #ffffff;
}

.project-card-content h6 {
    font-size: 12px;
    font-weight: 400;

}

.project-card-content p {
    font-size: 20px;
    font-weight: 400;

}



/* Team Member 
-------------------- */

.member-container {
    width: 90%;
    margin: 0 auto;
    padding: 100px 0;
}

.member-container h2 {
    width: 450px;
    text-align: center;
    margin: 0 auto;
    font-size: 40px;

}


.member-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.member-card {
    width: 100%;
}

.member-card img {
    width: 100%;
}

.member-card h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 12px;
}

.member-card p {
    font-size: 12px;
    margin-top: 2px;
}


.member-content-card {
    grid-column: 3/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F1F1F1;
    height: 380px;
}

.member-content-card .btn {
    margin-left: auto;
    padding: 15px 25px;
    font-size: 14px;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content .title {
    font-size: 26px;
    width: 310px;
    text-align: center;
}

.content .member-number {
    font-size: 120px;
    font-weight: 700;
    background-image: url(/images/members/bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}




/* footer 
-------------------- */

footer {
    background-color: #171818;
    color: #999999;
    height: 50vh;
    min-height: 50vh;
}

.footer-container {
    height: 100%;
}

.footer-content {
    width: 90%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content .about {
    max-width: 280px;
}

.footer-content .about p {
    margin-top: 15px;
}

.footer-list {
    list-style-type: none;
    font-size: 14px;
}

.footer-item {
    margin: 8px 0;
}

.footer-item:nth-of-type(1) {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 16px;
}

.information .footer-link {
    text-decoration: none;
    color: #999999;
}




/* Media query for tablets (768px wide) */
@media (max-width: 768px) {
    .navbar-list {
        display: none;
    }


    /* banner  */
    .banner {
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        padding: 80px 10px 0 10px;
    }

    .banner-title {
        font-size: 40px;
    }



    /* Our Services section  */
    .services-title h3 {
        font-size: 40px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }






    /* footer  */
    footer {
        height: fit-content;
        padding: 100px 0;
    }

    .footer-container {
        width: fit-content;
        margin: 0 auto;
    }

    .footer-content {
        flex-direction: column;
        gap: 50px;
        align-items: baseline;
    }

    /* Develop Your Site section */

    .developer-img-text {
        flex-direction: column-reverse;
        /* align-items: start; */
        text-align: center;

    }

    .developer-img-text img {
        width: 100%;
    }

    .developer-img-text p {
        font-size: 40px;
        margin-top: 15px;
    }


    /* construction company  */
    .construction-container {
        display: block;
    }

    .construction-text-area {
        width: 100%;
    }

    .construction-text-area h3 pre {
        font-size: 5vw;
    }

    .construction-image {
        width: 100%;
    }

    .construction-image img {
        width: 100%;
    }


    /* Our working Projects 
--------------------------------*/

    .project-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .projects-top-container h3 {
        font-size: 35px;
    }

    .projects-top-container p {
        font-size: 80px;
    }

}


/* Media query for mobile devices (576px) */
@media (max-width: 576px) {

    /* Our Services section  */
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Media query for desktop devices (576px) */
/* @media (min-width:768px) and  (max-width: 1024px) { */
@media (max-width: 1024px) {
    .developer {
        display: block;
    }

    .developer .btn {
        margin-top: 30px;
    }

    /* construction company  */
    .construction-text-area h3 {
        font-size: 40px;
    }

    /* Our working Projects 
--------------------------------*/

.project-card-content{
    padding: 15px 16px;
}
.project-card-content p {
    font-size: 16px;
    font-weight: 400;

}

.project-card-content h6 {
    font-size: 10px;
    font-weight: 400;

}


}